* {
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 10px;
  background-position: bottom right;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: auto;
  overflow: visible;
}

body {
  margin: 0;
}

#overlay {
  border-radius: 0;
  overflow: visible;
  padding: 0;
  height: auto;
}

#overlay.blank {
  height: auto;
  padding: 5px 10px;
}

ul, menu, dir {
  display: block;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
}

ol {
  list-style-type: none;
  margin: 0;
  height: 0;
}

#combatant-template {
  transition: background-color 0.2s;
}

#combatant-template, #header-template {
  display: none;
}

#overlay #header-template {
  display: block;
  height: 44px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 11px;
}

.header-top {
  height: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 100%;
  display: block;
}

.header-top .header-stats {
  float: right;
}

.title-prefix {
  text-transform: uppercase;
  padding-left: 5px;
}

.header-top .encounter-dps, .header-top .encounter-death {
  text-align: right;
}

.header-bottom {
  height: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 100%;
  display: flex;
}

.header-bottom .max-hit, .header-bottom .max-hit-val {
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.9em;
  margin-top: 1px;
}

.header-bottom .encounter-time {
  flex: 2 0 0;
  font-size: 13px;
}

.header-bottom .max-hit {
  text-overflow: ellipsis;
  flex: 6 0 0;
}

.header-bottom .max-hit-val {
  overflow: hidden;
  padding-left: 6px;
}

#overlay #combatant-template {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 5px;
}

#combatant-template:nth-last-child(1) {
  padding-bottom: 7px;
}

.flex-box-top {
  display: flex;
  flex: 0 0 100%;
}

.details {
  flex: 7 1 0;
  height: 15px;
}

.details .top {
  height: 12px;
  position: relative;
  overflow: hidden;
}

.details .bottom {
  height: 3px;
}

.job-icon img {
  height: 20px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 3px;
}

.top-right {
  float: right;
  text-align: right;
  line-height: 9px;
}

.stats {
  font-weight: bold;
}

.stat-prefix {
  padding-left: 8px;
}

.dps {
  height: 14px;
  font-size: 14px;
  line-height: 14px;
  flex: 1 1 0;
  text-align: center;
  font-weight: 700;
}

.name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: -3px;
}

.bar {
  display: block;
  height: 3px;
}

.died, .died ~ .stat-prefix {
  font-weight: 800 !important;
}

.expand {
  display: inline-block;
  font-size: 11px;
  cursor: pointer;
  width: 8px;
  height: 8px;
  margin-left: 5px;
}

.bottom, .top {
  margin-right: 10px;
}

#more-details .max-hit {
  font-size: 10px;
  padding-left: 2px;
}

.more-collapsed #more-details {
  display: none;
  height: 0;
}

.more-details-right {
  float: right;
  text-align: right;
  margin-right: 10px;
}

.more-details-right .stats {
  font-size: 11px;
  font-weight: normal;
  padding-left: 2px;
}

.more-details-right .stat-prefix {
  font-size: 11px;
}

#more-details {
  flex: 0 0 100%;
  overflow: hidden;
}

.menu {
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  border: 1px #2d2d30 solid;
  border-radius: 8px;
  position: absolute;
  display: none;
  z-index: 255;
}
.menu-options {
  list-style: none;
}
.menu-option {
  font-size: 10px;
  padding: 4px 8px;
  cursor: pointer;
}
.menu-option:hover {
  border-radius: 8px;
}

.resizeHandle {
  height:99vh;
  background-color: transparent;
  background-image: url('../images/icons/handle.png');
  background-position: bottom right;
  background-repeat: no-repeat;
}